{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>user Registration</title>
    <link rel="stylesheet" href="{% static 'css/registration.css' %}">
</head>
<body>
    
    <h3>your OTP sent on your mail</h3>
    <form action="{% url 'otp' %}" method='POST'>

    {% csrf_token %}

        <div class="container">
            <h1 style="text-align:center">OTP Verification</h1>
            
            <input type="hidden" name="email" value="{{email}}"/>

            <label for="eotp">OTP:</label>
            <input type="password" id="eotp" name="eotp" placeholder="Enter your OTP" size="15" required/>
            
            <input type="hidden" name="otp" value={{otp}}>

            {% if msg %}
            <h4>{{msg}}</h4>
            {% endif %}

            <button type="submit" class="registerbtn">Submit</button>
        </div>

       
    </form>
        
</body>
</html>