{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>user Registration</title>
    <link rel="stylesheet" href="{% static 'css/registration.css' %}">
</head>
<body>
    
    
    <form action="{% url 'transporter_reset_password' %}" method='POST'>

    {% csrf_token %}

        <div class="container">
            <h1 style="text-align:center">Enter Your New Password</h1>
            
            <input type="hidden" name="email" value="{{email}}"/>

            <label for="eotp">Enter Password:</label>
            <input type="password" id="" name="password" placeholder="Enter Password" size="15" required/>
            
            <label for="eotp">Enter Confirm Password:</label>
            <input type="password" id="" name="cpassword" placeholder="Enter Password" size="15" required/>

            {% if msg %}
            <h4 style="text-align:center;">{{msg}}</h4>
            {% endif %}
            
            <button type="submit" class="registerbtn">Submit</button>
              
        </div>

     
    </form>
    
    
</body>
</html>